<div class="utility-bar color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} utility-bar--bottom-border{% endif %}">
  <div class="page-width utility-bar__grid">
    <div class="announcement-bar" role="region" aria-label="Announcement">
      {%- if section.settings.text != blank -%}
        <p class="announcement-bar__message h5">
          <span>{{ section.settings.text | escape }}</span>
        </p>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Announcement bar",
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "Show line separator"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Welcome to our store",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}
