/* Button */
/* Button - default */

.button--secondary,
.button--tertiary {
  --color-button: var(--color-secondary-button);
  --color-button-text: var(--color-secondary-button-text);
}

.button--tertiary {
  --alpha-button-background: 0;
  --alpha-button-border: 0.2;
}

.button {
  --shadow-horizontal-offset: var(--buttons-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--buttons-shadow-vertical-offset);
  --shadow-blur-radius: var(--buttons-shadow-blur-radius);
  --shadow-opacity: var(--buttons-shadow-opacity);
  --shadow-visible: var(--buttons-shadow-visible);
  --border-offset: var(--buttons-border-offset);
  /* reduce radius edge artifacts */
  --border-opacity: calc(1 - var(--buttons-border-opacity));
  -webkit-appearance: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  appearance: none;
  transition: box-shadow var(--duration-short) ease;
  cursor: pointer;
  border: 0;
  border-radius: var(--buttons-radius-outset);
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  padding: 0 3rem;
  min-width: calc(12rem + var(--buttons-border-width) * 2);
  min-height: calc(4.5rem + var(--buttons-border-width) * 2);
  color: rgb(var(--color-button-text));
  font: inherit;
  font-size: 1.5rem;
  text-decoration: none;
}

.button:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity));
  border-radius: var(--buttons-radius-outset);
  content: '';
}

.button:after {
  position: absolute;
  top: var(--buttons-border-width);
  right: var(--buttons-border-width);
  bottom: var(--buttons-border-width);
  left: var(--buttons-border-width);
  z-index: 1;
  transition: box-shadow var(--duration-short) ease;
  box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)),
    0 0 0 var(--buttons-border-width) rgba(var(--color-button), var(--alpha-button-background));
  border-radius: var(--buttons-radius);
  content: '';
}

.button:not([disabled]):hover::after {
  --border-offset: 1.3px;
  box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)),
    0 0 0 calc(var(--buttons-border-width) + 1px) rgba(var(--color-button), var(--alpha-button-background));
}

.button--secondary:after {
  --border-opacity: var(--buttons-border-opacity);
}

.button:focus-visible,
.button:focus,
.button.focused {
  outline: 0;
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.5rem rgba(var(--color-foreground), 0.5),
    0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
}

.button:focus:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
}

.button::selection {
  background-color: rgba(var(--color-button-text), 0.3);
}

.button,
.button-label {
  font-size: 1.5rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  letter-spacing: 0.1rem;
}

.button--tertiary {
  padding: 1rem 1.5rem;
  min-width: calc(9rem + var(--buttons-border-width) * 2);
  min-height: calc(3.5rem + var(--buttons-border-width) * 2);
  font-size: 1.2rem;
}

.button--small {
  padding: 1.2rem 2.6rem;
}

/* Button - other */

.button:disabled,
.button[aria-disabled='true'],
.button.disabled,
.customer button:disabled,
.customer button[aria-disabled='true'],
.customer button.disabled,
.quantity__button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--full-width {
  display: flex;
  width: 100%;
}

.button.loading {
  position: relative;
  color: transparent;
}

@media screen and (forced-colors: active) {
  .button.loading {
    color: rgb(var(--color-foreground));
  }
}

.button.loading>.loading__spinner {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  height: 100%;
}

.banner__buttons .button:not([disabled]):hover {
  background-color: rgb(var(--color-button-text), var(--alpha-button-background));
  color: rgb(var(--color-button));
}

.banner__buttons .button.button:not([disabled]):after {
  box-shadow: none;
}