header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
}

.menu-drawer-container {
    display: flex;
}

.list-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
}

summary.list-menu__item {
    padding-right: 2.7rem;
}

.list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.list-menu__item--link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    text-decoration: none;
}

.header__heading {
    margin: 0;
    line-height: 0;
}

.header>.header__heading-link {
    line-height: 0;
}

.header__heading,
.header__heading-link {
    grid-area: heading;
    justify-self: center;
}

.header__heading-link {
    display: inline-block;
    padding: 0.75rem;
    text-decoration: none;
    word-break: break-word;
}

.header__heading-link:hover .h2 {
    color: rgb(var(--color-foreground));
}

.header__heading-link .h2 {
    color: rgba(var(--color-foreground), 0.75);
    line-height: 1;
}

.header__heading-logo {
    max-width: 100%;
    height: auto;
}

.header__heading-logo-wrapper {
    display: inline-block;
    transition: width 0.3s cubic-bezier(0.52, 0, 0.61, 0.99);
    width: 100%;
}


.header__menu {
    padding: 0 1rem;
}

.header__menu-item {
    padding: 1.2rem;
    text-decoration: none;
    color: rgba(var(--color-foreground), 0.75);
}

.header__menu-item:hover {
    color: rgb(var(--color-foreground));
}

.header__menu-item span {
    transition: text-decoration var(--duration-short) ease;
}

.header__menu-item:hover span {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}


/* Header menu */
.header__inline-menu {
    margin-left: -1.2rem;
    grid-area: navigation;
    display: none;
}

@media screen and (min-width: 750px) {
    .list-menu__item--link {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media screen and (max-width: 989px) {

    .header__heading,
    .header__heading-link {
        text-align: center;
    }

    .header--mobile-left .header__heading,
    .header--mobile-left .header__heading-link {
        justify-self: start;
        text-align: left;
    }

    .header--mobile-left {
        grid-template-columns: auto 2fr 1fr;
    }
}

@media screen and (min-width: 990px) {

    .header--middle-left .header__heading-link {
        margin-left: -0.75rem;
    }

    .header__heading,
    .header__heading-link {
        justify-self: start;
    }

    .header__inline-menu {
        display: block;
    }

    .header--middle-left .header__inline-menu {
        margin-left: 0;
    }
}