header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
}

.menu-drawer-container {
    display: flex;
}

.list-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
}

summary.list-menu__item {
    padding-right: 2.7rem;
}

.list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
}

.list-menu__item--link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    text-decoration: none;
}

.header__heading {
    margin: 0;
    line-height: 0;
}

.header>.header__heading-link {
    line-height: 0;
}

.header__heading,
.header__heading-link {
    grid-area: heading;
    justify-self: center;
}

.header__heading-link {
    display: inline-block;
    padding: 0.75rem;
    text-decoration: none;
    word-break: break-word;
}

.header__heading-link:hover .h2 {
    color: rgb(var(--color-foreground));
}

.header__heading-link .h2 {
    color: rgba(var(--color-foreground), 0.75);
    line-height: 1;
}

.header__heading-logo {
    max-width: 100%;
    height: auto;
}

.header__heading-logo-wrapper {
    display: inline-block;
    transition: width 0.3s cubic-bezier(0.52, 0, 0.61, 0.99);
    width: 100%;
}


.header__menu {
    padding: 0 1rem;
}

.header__menu-item {
    padding: 1.2rem;
    text-decoration: none;
    color: rgba(var(--color-foreground), 0.75);
}

.header__menu-item:hover {
    color: rgb(var(--color-foreground));
}

.header__menu-item span {
    transition: text-decoration var(--duration-short) ease;
}

.header__menu-item:hover span {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}


/* Header menu */
.header__inline-menu {
    margin-left: -1.2rem;
    grid-area: navigation;
    display: none;
}

@media screen and (min-width: 750px) {
    .list-menu__item--link {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media screen and (max-width: 989px) {

    .header__heading,
    .header__heading-link {
        text-align: center;
    }

    .header--mobile-left .header__heading,
    .header--mobile-left .header__heading-link {
        justify-self: start;
        text-align: left;
    }

    .header--mobile-left {
        grid-template-columns: auto 2fr 1fr;
    }
}

@media screen and (min-width: 990px) {

    .header--middle-left .header__heading-link {
        margin-left: -0.75rem;
    }

    .header__heading,
    .header__heading-link {
        justify-self: start;
    }

    .header__inline-menu {
        display: block;
    }

    .header--middle-left .header__inline-menu {
        margin-left: 0;
    }
}


/* Header icons */
.header__icons {
    display: flex;
    grid-area: icons;
    justify-self: end;
    padding-right: 0.8rem;
}

.header__icons .shopify-app-block {
    max-width: 4.4rem;
    max-height: 4.4rem;
    overflow: hidden;
}

.header__icon:not(.header__icon--summary),
.header__icon span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__icon {
    color: rgb(var(--color-foreground));
}

.header__icon span {
    height: 100%;
}

.header__icon .svg-wrapper {
    width: 44px;
    height: 44px;
}

.header__icon::after {
    content: none;
}

.header__icon:hover .icon,
.modal__close-button:hover .icon {
    transform: scale(1.07);
}

.header__icon .icon {
    height: 2rem;
    width: 2rem;
    fill: none;
    vertical-align: middle;
}

.header__icon,
.header__icon--cart .icon {
    height: 4.4rem;
    width: 4.4rem;
    padding: 0;
}

.header__icon--cart {
    position: relative;
    margin-right: -1.2rem;
}

.header__icon--menu[aria-expanded='true']::before {
    content: '';
    top: 100%;
    left: 0;
    height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
    width: 100%;
    display: block;
    position: absolute;
    background: rgba(var(--color-foreground), 0.5);
}

.header__icon--account shop-user-avatar {
    --shop-avatar-size: 2.8rem;
}

details .header__icon-close {
    display: none;
}

details[open] .header__icon-close {
    display: inline-block;
}

account-icon {
    display: flex;
}

/* Search */
menu-drawer+.header__search {
    display: none;
}

.header>.header__search {
    grid-area: left-icons;
    justify-self: start;
}

.header--top-center.drawer-menu>.header__search {
    margin-left: 3.2rem;
}

.header--top-center header-drawer {
    grid-area: left-icons;
}

.header:not(.header--has-menu) *>.header__search {
    display: none;
}

.header__search {
    display: inline-flex;
    line-height: 0;
}

.header--top-center>.header__search {
    display: none;
}

.header--top-center *>.header__search {
    display: inline-flex;
}

@media screen and (min-width: 990px) {

    .header:not(.header--top-center) *>.header__search,
    .header--top-center>.header__search {
        display: inline-flex;
    }

    .header:not(.header--top-center)>.header__search,
    .header--top-center *>.header__search {
        display: none;
    }
}

details[open]>.search-modal {
    opacity: 1;
    animation: animateMenuOpen var(--duration-default) ease;
}

details[open] .modal-overlay {
    display: block;
}

details[open] .modal-overlay::after {
    position: absolute;
    content: '';
    background-color: rgb(var(--color-foreground), 0.5);
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
}

.search-modal {
    opacity: 0;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
    min-height: calc(100% + var(--inputs-margin-offset) + (2 * var(--inputs-border-width)));
    height: 100%;
}

.search-modal__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 5rem 0 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    position: relative;
}

.search-modal__content-bottom {
    bottom: calc((var(--inputs-margin-offset) / 2));
}

.search-modal__content-top {
    top: calc((var(--inputs-margin-offset) / 2));
}

.search-modal__form {
    width: 100%;
}

.search-modal__close-button {
    position: absolute;
    right: 0.3rem;
}

@media screen and (min-width: 750px) {
    .search-modal__close-button {
        right: 1rem;
    }

    .search-modal__content {
        padding: 0 6rem;
    }
}

@media screen and (min-width: 990px) {
    .search-modal__form {
        max-width: 74.2rem;
    }

    .search-modal__close-button {
        position: initial;
        margin-left: 0.5rem;
    }
}