.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
}

.social__item {
  display: flex;
  gap: 1rem;
}

.social__item svg {
  height: 3rem;
}