.testimonial-slider {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.testimonial-content {
  margin: 0 auto;
  max-width: 90%;
}

.quote {
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
}

.testimonial-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-person img {
  margin-bottom: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.name {
  color: #fff;
  font-weight: bold;
}

.slide-btn .icon {
  height: .6rem;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0 15px;
  color: #FFFFFF;
  font-size: 30px;

  /* .slider-button {
    color: rgba(var(--color-foreground),.75);
    background: transparent;
    border: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
}

.prev-btn {
  left: 10px;
  transform: rotate(90deg);
}

.next-btn {
  right: 10px;
  transform: rotate(-90deg);
}

.prev-btn:hover,
.next-btn:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  .testimonial-content {
    max-width: 100%;
    font-size: 18px;
  }

  .quote {
    font-size: 18px;
  }

  .prev-btn,
  .next-btn {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .testimonial-person img {
    width: 50px;
    height: 50px;
  }

  .quote {
    font-size: 16px;
  }
}

.slider-counter__link--active.slider-counter__link--dots .dot {
  background-color: rgb(var(--color-foreground));
}

.slider-counter__link--dots .dot {
  transition: transform .2s ease-in-out;
}

.slider-counter__link--dots .dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: .1rem solid rgba(var(--color-foreground), .5);
  padding: 0;
  display: block;
}