.testimonial-wrapper.banner__content {
  padding: 0 15px;
}

.testimonial-heading {
  margin-top: 0;
  margin-bottom: 1rem;
}

.testimonial-slider {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.testimonial-content {
  margin: 0 auto;
  max-width: 80rem;
}

@media (max-width: 768px) {
  .testimonial-content {
    max-width: 100%;
    font-size: 18px;
  }
}

.quote {
  font-size: 20px;
  margin-bottom: 1.6rem;
  color: rgba(var(--color-foreground));
  opacity: 0.7;
}

@media (min-width: 769px) {
  .quote {
    font-size: 30px;
  }
}

.testimonial-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-person img {
  margin-bottom: 1rem;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.name {
  color: rgba(var(--color-foreground));
  margin: 0;
  padding: 0.5rem;
}

.slide-btn .icon {
  height: 1rem;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0 15px;
  color: rgba(var(--color-foreground));
  font-size: 30px;
}

.prev-btn {
  left: 1.6rem;
  transform: rotate(90deg);
}

.next-btn {
  right: 1.6rem;
  transform: rotate(-90deg);
}

.prev-btn:hover,
.next-btn:hover {
  color: rgba(var(--color-foreground), .5);
}

@media (max-width: 768px) {
  .prev-btn,
  .next-btn {
    display: none;
  }
}

.slideshow__controls.testimonial-control {
  border: none;
}

@media (max-width: 480px) {
  .testimonial-person img {
    width: 50px;
    height: 50px;
  }
}